<form>
    <div class="form-group row">
        <div class="col-sm-4"><label for="notificationUrl">Notification Url:</label></div>
        <div class="col-sm-8"><input type="text" class="form-control" id="notificationUrl" placeholder="Enter Notification Url..."/></div>
    </div>
</form>